doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='/style.css')
body
  div(class="container text-center p-12")
    div(class="content")
      h1(class="text-4xl") #{TITLE}
      div(class="font-bold") #{SUBTITLE}
      div(class="opacity-70") #{DESCRIPTION}
      div(class="footer") #{AUTHOR}

